@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation/Sansation_Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Bench-Nine";
  src: url("/fonts/Bench Nine/BenchNine-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Bench-Nine";
  src: url("/fonts/Bench Nine/BenchNine-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Bench-Nine";
  src: url("/fonts/Bench Nine/BenchNine-Bold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Acumin";
  src: url("/fonts/Acumin/Acumin.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  /* p/ */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Sansation, Bench-Nine, Acumin;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  max-width: 100%;
}

.palette-color-1 {
  background-color: #419f8d;
}

.palette-text-1 {
  color: #419f8d;
}

.palette-color-2 {
  background-color: #fb885f;
}

.palette-text-2 {
  color: #fb885f;
}

.palette-color-3 {
  background-color: #e1ab3f;
}

.palette-text-3 {
  color: #e1ab3f;
}

.palette-color-4 {
  background-color: #c7a57e;
}

.palette-text-4 {
  color: #c7a57e;
}

.palette-color-5 {
  background-color: #e57f55;
}

.palette-text-5 {
  color: #e57f55;
}

.palette-font {
  font-family: Sansation;
}